.hero {
    position: relative;
    height: 380px;
    background: url("/Oppty-BPO-/insights.jpg")
                center/cover no-repeat;
    color: #fff;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero-content {
    position: relative;
    padding: 60px 80px;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 30px;
}

.breadcrumb span {
    color: #f5b400;
}

.hero-box {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    max-width: 520px;
}

.hero-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-box h3 {
    font-size: 20px;
    color: #f5b400;
}

/* CONTENT */
.content {
    padding: 60px 80px;
}

.content h1 {
    font-size: 36px;
    color: #333;
}
.insights h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* CARD */
.card {
    position: relative;
    overflow: hidden;
    height: 300px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* WHITE TITLE BOX */
.title-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    transition: opacity 0.3s ease;
}

/* ORANGE HOVER OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: #f58220;
    color: #fff;
    padding: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.overlay h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.overlay p {
    font-size: 15px;
    line-height: 1.6;
}

/* HOVER EFFECTS */
.card:hover img {
    transform: scale(1.1);
}

.card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.card:hover .title-box {
    opacity: 0;
}

